
.icon-align-justify:before { content: '\e800'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-google-plus-circle:before { content: '\f2b3'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
